[
  ["Street Name", "Hint. Examples following"],
  ["Some Street","Cross streets are Another street & Another street"],
  ["That tiny street nobody ever knows", "Cross streets are that other obscure street. Think Chief So and So's house."]
]
